.component {
    background-color: #D9D6D0; /* Light background color */
    color: #403B39; /* Darker text color */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  /* Styling for headings */
  .component h1, .component h2, .component h3 {
    color: #262321; /* Darkest heading color */
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2rem;
    transition: font-size 0.3s ease;
  }
  
  /* Highlighted text styling */
  .component .highlight {
    color: #262321; /* Darker color for highlights */
    background-color: rgba(38, 34, 32, 0.1); /* Lighter highlight background */
    padding: 0 5px;
    border-radius: 3px;
  }
  
  /* Text justification and normal font styling */
  .component p, .component li {
    text-align: justify;
    line-height: 1.6;
  }
  
  /* List styling */
  .component ul {
    margin-left: 20px;
  }
  
  /* Image styling */
  .component img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: 2px solid #A6A198; /* Border color */
    border-radius: 10px;
  }
  
  /* Code block styling */
  .component code {
    background-color: rgba(114, 109, 104, 0.1); /* Slightly darker background for code blocks */
    color: #736D68; /* Code text color */
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* Text size adjustment for different elements */
  .component h1 {
    font-size: 2.5rem;
  }
  
  .component h2 {
    font-size: 2rem;
  }
  
  .component h3 {
    font-size: 1.75rem;
  }
  
  .component p {
    font-size: 1rem;
  }
  
  .component li {
    font-size: 1rem;
  }
  
  /* Animation for headings */
  .component h1:hover, .component h2:hover, .component h3:hover {
    font-size: 2.7rem;
  }
  
  /* Add some padding to the content */
  .component div {
    padding: 20px;
  }
  
  /* Styling for the code block text */
  .component pre {
    background-color: rgba(114, 109, 104, 0.1);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  /* Home Button Styling */
  .homeButton {
    background-color: #262321; /* Dark button color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
  }
  
  .homeButton:hover {
    background-color: #403B39; /* Slightly lighter on hover */
  }